<html>
<head>
    <title>Notify Page</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/bootstrap.css" rel="stylesheet">
    <script src="vendor/js/bootstrap.min.js"></script>
    <script>
        //  var test = require('./NotificationA');
        function reg(){
            /*    var jsonObj = {
                    type : 'follow_Thread',
                    threadID: '1',
                    studentID: 'u34567890'
                }

               var result = test.notifyRegistration(jsonObj);*/

            //(if(document.getElementById("RegN").checked))
            //{ alert("here");}
            return true;
        }
        function dereg(){
            /* var jsonOBj = {
                 type: "deregister_Thread",
                 threadID: '1',
                 studentID: 'u34567890'
             };
             var result = test.notifyDeregistration(jsonOBj);*/
            return true;
        }
    </script>
</head>

<body>

<form action="/submitNotify" method="POST">
    <!--div class="input-group-btn">
        <button type="button" id="subNotify" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" onclick="return reg();">Register for notifications </a></li>
            <li><a href="#" onclick="return dereg();">Deregister for notifications</a></li>
        </ul>
    </div-->


    <ul style="list-style-type: none;">
        <li>
            <td><strong>Register/Deregister for notification</strong></td>
        </li>
        <br/>
        <li>
            <td>Register</td>
            <td>
                <input type="radio" id="RegN" name="notify">
            </td>
        </li>
        <li>
            <td>Deregister</td>
            <td>
                <input type="radio" id="DeregN" name="notify">
            </td>
        </li>
        <li>
            <td>
                <input type="Submit" value="Submit">
            </td>
            <td>{{message}}</td>
        </li>


    </ul>
    <div>
        {{result}}
    </div>
    <!-- mock up version of a thread space here-->
    <!---div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div-->
</form>
</body>
</html>