<p>{{{success}}}</p>
<form id = "postForm" enctype="multipart/form-data" action="/submitPost" method="post">
    <div class="form-group">
        <label for="post_content">Post Content</label>
        <textarea id="post_content" name="post_content"></textarea>
    </div>
    <div class="form-group">
        <label for="_file">Attachment</label>
        <input id="_file" type="file" name="file_chooser">
    </div>
    <input type="submit" class="btn btn-default" name="post" value="Post">
</form>