<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
	<script src="/javascripts/jquery-1.11.2.min.js" ></script>
    <script src="/javascripts/bootstrap.min.js" ></script>
    <script src="/javascripts/handlebars.runtime.min.js" ></script>

  </head>
  <body>
  <header>
      <h1>{{title}}</h1>
      <nav>
          <a href="/" >Home</a>
          <a href="testPost" >Post</a>
          <a href="manageConstraints">Manage Constraints</a>
          <a href="addConstraint">Add Constraints</a>
          <a href="removeConstraints">Add Constraints</a>
          <a href="blank">Notifications</a>
          <a href="blank">Login</a>
          <a href="blank">Reports</a>
      </nav>
  </header>
  <div class="main">
    {{{body}}}
  </div>
  <footer>
      <p>&copy; 2015 Buzz++</p>
  </footer>
  </body>
</html>
