<h1>{{title}}</h1>

<div>
    <button onclick="{{getLecturers}}">getLecturers</button>
    <button onclick="{{getStudents}}">getLecturers</button>
    <button onclick="{{getThreads}}">getLecturers</button>
</div>